img{
  width: 400px;
  box-sizing: border-box;
  /* height: 400px; */
  border: 3px solid red;
  padding: 70px; 
  /* padding-left: 5px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 20px; */
  margin: 30px;
  border-radius: 25%;
  border-color: royalblue;
  border-top-color: seagreen;
  border-left-color: snow;
  border-right-color: red;
  border-bottom-color: yellow;
  border-left: none;
  border-right-style: dotted;
  border-bottom-color: blue;
  border-top-width: 20px;
}
