.main-header {
  font-family: 'Allison', cursive;
  color: rgb(0, 0, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
}
.art-header {
  font-family: 'Merriweather', serif;
  color: green;
  font-style: italic;
  font-size: 24px;
  /*1px=1.96in*/
  text-transform: capitalize;
}
.art-header + p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  /*font-family: serif;*/
  line-height: 1.3em; /*1em=1fontsize*/
  text-align: justify;
}
.page-link {
  text-decoration: line-through 3px wavy magenta; 
  /*text-decoration-line: line-through;
  text-decoration-thickness: 3px;
  text-decoration-style: dotted;
  text-decoration-color: red;*/
}
.align-center{
  text-align: center;
  font-size: 10px;
}
