h1{
  background-color: tomato;
  position: relative;
  margin:0 auto;
  width: 100px;
  text-align: center;
}
h1::before,
h1::after{
  content: url(./../icons/alarm-check.svg);
  width: 50px;
  display: inline-block;
  background-color: teal;
  margin: 15px;
  position: absolute;
  top: -100%;
  
}
h1::before{
  left:-70% ;
}
h1::after{
  right:-70% ;
}
p{
  margin: 50px;
}
p::before{
  content: open-quote;
  color: red;
  font-size: 3em;
}
p::after{
  content: close-quote;
}